<html>
<head>
  <script src="orchestrate.component.js" type="text/javascript"></script>
</head>
<body>

<main role="main" class="flex-shrink-0" style="padding-bottom: 65px">
  <div class="jumbotron" style="padding: 20px">
    <div class="container">
      <h1 class="display-5">Manipulate Images</h1>
      <p>Orchestrate different image transformations on your image</p>
    </div>
  </div>
  <div class="container">
    <form #formInput id="imageTransform" action="#" method="post" class="form-group">

      <div class="form-group">
        <select
          id="image"
          name="image"
          class="form-control btn-primary"
          (input)="showPreview($event.target.value)">
          <option *ngFor="let image of images"
                  [value]="image.id">
            {{image.name}} [{{image.id}}]
          </option>
        </select>
        <div class="img-preview-container" style="padding: 10px">
          <img id="preview" height="100px" [src]="displayImage" alt="No images found">
          <div style="margin-top:10px;" height="100px" id="previewInfo" hidden="true">
            <span id="previewInfoText"></span>
            <a id="previewInfoLink" routerLink="/upload">here</a>
          </div>
        </div>
      </div>

      <!-- GRAYSCALE -->
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="grayscale" name="grayscale">
        <label class="form-check-label" for="grayscale">Apply Grayscale</label>
      </div>

      <!-- ROTATE -->
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="rotate" name="rotate">
        <label class="form-check-label" for="rotate">Apply Rotation</label>
        <input class="form-control" id="degrees" name="degrees" placeholder="Enter rotation degrees, eg 90">
      </div>

      <!-- RESIZE -->
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="resize" name="resize">
        <label class="form-check-label" for="resize">Resize</label>
        <input class="form-control" id="factor" name="factor" placeholder="Enter resizing factor: (0..n]">
      </div>

      <!-- FLIP -->
      <div class="form-group form-check">
        <label class="form-check-label">Flip image</label>
        <div class=" form-check">
          <input type="checkbox" class="form-check-input" id="vertical" name="vertical">
          <label class="form-check-label" for="vertical">vertically</label>
        </div>
        <div class=" form-check">
          <input type="checkbox" class="form-check-input" id="horizontal" name="horizontal">
          <label class="form-check-label" for="horizontal">horizontally</label>
        </div>
      </div>

      <!-- PERSIST -->
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="persist" name="persist">
        <label class="form-check-label" for="persist">Persist image</label>
        <input class="form-control" id="name" name="name" placeholder="Enter name">
      </div>


      <input type="submit" class="btn btn-primary btn-block dima-btn" (click)="sendRequest(formInput)"/>
      <div><span style="margin-top:10px;" id="info"></span></div>
      <img id="transformedImage" hidden="true" class="show-image" [src]="transformedImage">
    </form>

  </div>

  <div class="col-3">
  </div>
</main>
</body>
</html>



