<main role="main" class="flex-shrink-0" style="padding-bottom: 65px">
  <div class="jumbotron" style="padding: 20px">
    <div class="container">
      <h1 class="display-4">Random</h1>
    </div>
  </div>

  <div class="container">
    <input _ngcontent-eyl-c4="" class="btn btn-primary btn-block dima-btn" type="button" (click)="changeImage()"
           value="Next random"/>
    <br/>
    <img id="image" width="100%" [src]="displayImage" alt="No images found">
    <div height="100px"><span style="margin-top:10px;" id="info"></span></div>
  </div>
</main>
