# intellij
**/*.iml
**/.idea/
**/out
**/*.iws
**/*.ipr


# gradle
**/.gradle
**/build
**/bin

# Eclipse
**/.classpath
**/.project
**/.settings

*.jar
**/.vscode

**/.compose-project
results.bin

**/.env
**/.secrets