<main role="main" class="flex-shrink-0" style="padding-bottom: 65px">
  <div class="jumbotron" style="padding: 20px">
    <div class="container">
      <h1 class="display-5">Display Images</h1>
      <p>Select a specific image to display</p>
    </div>
  </div>

  <div class="container">
    <h5>Either provide an image id directly..</h5>
    <form #formInput id="manualImageIdEntry" action="#" method="post" class="form-group">

      <div class="form-group form-check">
        <input class="form-control" id="imageIdIn" name="imageIdIn" placeholder="Enter image id..">
      </div>
      <input type="submit" class="btn btn-primary btn-block dima-btn" (click)="showImageById(formInput)"/>
    </form>
    <br/>
    <h5>..or select one from the list..</h5>
    <select class="form-control btn-primary"
            id="imageSelect"
            (input)="showImageWithId($event.target.value)">
      <option *ngFor="let image of images"
              [value]="image.id">
        {{image.name}} [{{image.id}}]
      </option>
    </select>
    <a target="_blank" [href]="selectedLink">
      <img id="preview" class="show-image" [src]="displayImage" alt="No images found">
    </a>
    <div height="100px"><span style="margin-top:10px;" id="info"></span></div>
  </div>
</main>
