<main role="main" class="flex-shrink-0" style="padding-bottom: 65px">
  <div class="jumbotron" style="padding: 20px">
    <div class="container">
      <h1 class="display-3" style="font-variant: small-caps">Dima</h1>
      <h2 class="display-5">Distributed Image Manipulation</h2>
      <p>With our distributed image tools you can upload, manipulate, delete and analyse your images</p>
      <p><a routerLink="/upload" class="btn btn-primary btn-lg dima-btn">Get started by uploading an image</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Manage your images</h2>
        <p>Manage what images you want included by uploading or removing images from your album</p>
        <p><a class="btn btn-secondary dima-btn" routerLink="/upload" role="button">Upload new images »</a></p>
        <p><a class="btn btn-secondary dima-btn" routerLink="/delete" role="button">Delete existing images »</a></p>
      </div>
      <div class="col-md-6">
        <h2>View your images</h2>
        <p>Take a look at your images either as a whole, individually or randomised.</p>
        <p><a class="btn btn-secondary dima-btn" routerLink="/display" role="button">View specific images »</a></p>
        <p><a class="btn btn-secondary dima-btn" routerLink="/random" role="button">View random images »</a></p>
        <p><a class="btn btn-secondary dima-btn" routerLink="/album" role="button">View album »</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Orchestrate image manipulations</h2>
        <p>Choose of several transformations to apply to your image</p>
        <p><a class="btn btn-secondary dima-btn" routerLink="/orchestrate" role="button">Transform your images »</a></p>
      </div>
    </div>
    <hr>
  </div>
</main>
