apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    cert-manager.io/cluster-issuer: letsencrypt-prod
  name: {{ .Release.Name }}-{{ .Chart.Name }}-ingress
  namespace: {{ .Release.Namespace }}
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .Values.host }}
      http:
        paths:
          - backend:
              service:
                name: {{ template "dima-imageflip.service.name" . }}
                port:
                  number: 8080
            path: /proxy/imageflip/(.*)
            pathType: Prefix
  tls:
    - hosts:
        - {{ .Values.host }}
      secretName: dima-tls-cert