<main role="main" class="flex-shrink-0" style="padding-bottom: 65px">
  <div class="jumbotron" style="padding: 20px">
    <div class="container">
      <h1 class="display-3" style="font-variant: small-caps">Traffic Generator</h1>
      <p>The traffic generator generates traffic for Dima to test the observability stack.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Upload images</h2>
        <p>Upload default images</p>
        <form (ngSubmit)="uploadAll()" #deleteAllForm="ngForm" id="uploadAllImagesForm">
          <button class="col-md-6 btn btn-block dima-btn" type="submit" id="uploadAllButton">
            Upload all images
          </button>
        </form>
      </div>
      <div class="col-md-6">
        <h2>Transformation Traffic</h2>
        <p>Generate random transformation requests</p>
        <form #formInput id="imageTransform" action="#" method="post" class="form-group">
          <div class="form-group form-check">
            <label class="form-check-label">Transformations per second</label>
            <input class="form-control" id="transformationsPerSecond" name="transformationsPerSecond"
              placeholder="Transformations per second: [0..n]">
          </div>
          <input type="submit" class="btn btn-primary btn-block dima-btn"
            (click)="sendTransformationRequest(formInput)" />
        </form>
      </div>
    </div>
    <hr>
  </div>
</main>