<configuration>
    <springProfile name="line-log">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>%date %level [%thread] %logger %msg %n</Pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="json-log">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <mdc/>
                    <timestamp/>
                    <message/>
                    <context/>
                    <loggerName/>
                    <stackTrace/>
                    <arguments/>
                    <logLevel/>
                    <tags/>
                    <logstashMarkers/>
                    <pattern>
                        <pattern>
                            { "service" : "imageflip" }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>