global:
  scrape_interval: 5s

rule_files:
  - /etc/prometheus/alerts.d/*.rules.yml

scrape_configs:
# prometheus monitors itself
- job_name: prometheus
  static_configs:
  - targets: ['localhost:9090']

## local system
- job_name: node
  scrape_interval: 10s # default == 1m
  metrics_path: /metrics # default == /metrics
  scheme: http # default == http
  static_configs:
  - targets: ['cadvisor:8080', 'node-exporter:9100']

- job_name: mongodb
  static_configs:
  - targets: ['mongodb-exporter:9001']

- job_name: nginx
  static_configs:
  - targets: ['nginx-exporter:9913']

# domain application
- job_name: imageholder
  metrics_path: /actuator/prometheus
  static_configs:
  - targets: ['imageholder:8080']

- job_name: imagerotator
  metrics_path: /actuator/prometheus
  static_configs:
  - targets: ['imagerotator:8080']

- job_name: imageresize
  metrics_path: /actuator/prometheus
  static_configs:
  - targets: ['imageresize:8080']

- job_name: imagegrayscale
  metrics_path: /actuator/prometheus
  static_configs:
  - targets: ['imagegrayscale:8080']

- job_name: imageflip
  metrics_path: /actuator/prometheus
  static_configs:
  - targets: ['imageflip:8080']

- job_name: imageorchestrator
  metrics_path: /actuator/prometheus
  static_configs:
  - targets: ['imageorchestrator:8080']

- job_name: imagethumbnail
  metrics_path: /actuator/prometheus
  static_configs:
  - targets: ['imagethumbnail:8080']

- job_name: zipkin
  scrape_interval: 5s
  metrics_path: /prometheus
  static_configs:
    - targets: ['zipkin:9411']
  metric_relabel_configs:
    # Response code count
    - source_labels: [__name__]
      regex: '^status_(\d+)_(.*)$'
      replacement: '${1}'
      target_label: status
    - source_labels: [__name__]
      regex: '^status_(\d+)_(.*)$'
      replacement: '${2}'
      target_label: path
    - source_labels: [__name__]
      regex: '^status_(\d+)_(.*)$'
      replacement: 'http_requests_total'
      target_label: __name__

- job_name: grafana
  scrape_interval: 5s
  static_configs:
    - targets: ['grafana:3000']

- job_name: elasticsearch
  scrape_interval: 30s
  static_configs:
    - targets: ['elasticsearch-exporter:9108']

- job_name: kibana
  scrape_interval: 30s
  metrics_path: /_prometheus/metrics
  static_configs:
    - targets: ['kibana:5601']
