
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.dima-btn {
  font-size: 16px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  text-align: center;
}

.show-image {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
