name: Build

on: push

env:
  GKE_REGISTRY: gcr.io/${{ secrets.GKE_PROJECT }}
  WIP: 'projects/399309401465/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
  SA: 'github-actions@${{ secrets.GKE_PROJECT }}.iam.gserviceaccount.com'

jobs:
  build-publish:
    name: Build, Publish
    runs-on: ubuntu-latest

    permissions:
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: ${{ env.WIP }}
          service_account: ${{ env.SA }}

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v1

      - name: Configure Docker
        run: |-
          gcloud --quiet auth configure-docker gcr.io

      - name: Install docker-compose for python3
        run: pip3 install docker-compose --upgrade

      - name: Build all images
        working-directory: ./stack/compose
        run: docker-compose -f docker-compose.yml -f docker-compose-registry-tags.yml build --parallel

      - name: Push all images
        working-directory: ./stack/compose
        run: docker-compose -f docker-compose.yml -f docker-compose-registry-tags.yml push

  deploy:
    name: Deploy in GKE
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/deploy.yml
    with:
      tag: ${{ github.sha	}}
    secrets: inherit
